.chord-name {
    text-align: center;
    font-size: 20px
}

.chord-members {
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    height: 200px;
    white-space: pre;
}

.chord-tile {}

.chord-tile-active {
    background: rgb(204, 204, 204);
    color: black;
    border-radius: 25px
}

.chord-tile-inactive {
    background: rgb(236, 236, 236);
    color: rgb(88, 88, 88);
    border-radius: 25px
}

.start-text {
    font-size: 30px;
    text-align: center;
}

.note-member {
    color: green;
    text-align: center;
    text-transform: uppercase;
}

.note-diatonic {
    color: orange;
    text-align: center;
    text-transform: uppercase;
}

.note-tendency {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

.chord {
    color: black;
    text-align: center;
    font-weight: bold;
}

.big-checkbox {
    width: 25px;
    height: 25px;
}