.chord-names-col {
    background-color: white;
    text-align: center;
}
.chord-members-col {
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
    background-color: white;
    height: 200px;
}

.start-text {
    font-size: 30px;
    text-align: center;
}

.note-member{
    color: green;
    text-align: center;
    text-transform: uppercase;
}
.note-diatonic {
    color: orange;
    text-align: center;
    text-transform: uppercase;
}
.note-tendency {
    color: red;
    text-align: center;
    text-transform: uppercase;
}

.chord {
    color: black;
    text-align: center;
    font-weight: bold;
}

.big-checkbox {
    width: 25px;
    height: 25px;
}